{% include 'header.html' %}

<div class="row">
<div class="col-4"></div>
<div class="col-4">
<div class="card">
    <div class="card-header">Criar tarefa</div>
    <div class="card-body">
        <form action="/tarefas/create/salvar" method="post">
            <div class="mb-3">
            <label for="" class="form-label">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" aria-describedby="helpId" placeholder="Nome" />
        </div>
        <div class="mb-3">
            <label for="data" class="form-label">Data</label>
            <input type="date" class="form-control" name="data" id="data" />
        </div>
        <div class="mb-3">
         <label for="status" class="form-label">Status</label>
        <select class="form-select" id="status" name="status">
            <option value="Pendente">Pendente</option>
            <option value="Em andamento">Em andamento</option>
            <option value="Concluída">Concluída</option>
        </select>
        </div>
<button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>

    </div>
</div>
</div>
<div class="col-4"></div>
</div>
    

{% include 'footer.html' %}